#notif-container {
  width: 30px;
  height: 30px;
  background: #213F7D;
  opacity: 0.5;
  border-radius: 100%;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notif-icon {
  color: #FFFFFF;
  height: 20px;
}

#button-wrapper {
	background: linear-gradient(270deg, #39CDCC -21.5%, #39CDCC -21.48%, #0CA8E5 174.75%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}

#button-label {
	font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#product-header-text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	font-size: 20px;
	color: #213F7D;
}
