<div id="product-container">
  <div class="d-flex justify-content-end">
    <div id="notif-container">
      <i class="fas fa-bell" id="notif-icon"></i>
    </div>
  </div>
  <div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight" id="product-header-text">Products</div>
    <div class="p-2 bd-highlight">
      <button id="button-wrapper">
        <span id="button-label">Add a new product</span>
      </button>
    </div>
  </div>
  <app-product-table-header></app-product-table-header>
  <app-product-list-items></app-product-list-items>
</div>
