<div id="product-table-header">
	<div class="d-flex flex-row-reverse bd-highlight" id="product-table-header-top">
		<div class="p-2 bd-highlight"><p id="top-text">Search</p></div>
		<div class="p-2 bd-highlight"><i class="fas fa-search" id="notif-icon"></i></div>
		<div class="p-2 bd-highlight"><p id="top-text">Sort</p></div>
		<div class="p-2 bd-highlight"><i class="fas fa-sort-amount-up"></i></div>
		<div class="p-2 bd-highlight"><p id="top-text">Filter</p></div>
		<div class="p-2 bd-highlight"><i class="fas fa-filter"></i></div>
		<div class="p-2 bd-highlight"><p id="top-text">Export</p></div>
	</div>
	<div id="product-table-header-bottom">
		<h5 id="products-table-header-title">Name</h5>
		<h5 id="products-table-header-title">Tenor</h5>
		<h5 id="products-table-header-title">Amount</h5>
		<div id="product-filler"></div>
	</div>
</div>

