<div id="side-menu">
	<div class="d-flex flex-row bd-highlight mb-3" id="company-logo-container">
		<div class="p-2 bd-highlight" id="company-logo"></div>
		<div class="p-2 bd-highlight" id="company-name">Pay Finance Ltd.</div>
		<div class="p-2 bd-highlight" id="right-icon"><i class="fas fa-angle-left"></i></div>
	</div>
	<div id="side-menu-container">
		<div class="d-flex flex-row bd-highlight mb-3" routerLink="dashboard">
			<div class="p-2 bd-highlight"><img src="assets/svg/dashboard.svg"></div>
			<div class="p-2 bd-highlight" id="label">Dashboard</div>
		</div>
		<div class="d-flex flex-row bd-highlight mb-3" routerLink="/loans">
			<div class="p-2 bd-highlight"><img src="assets/svg/loans.svg"></div>
			<div class="p-2 bd-highlight" id="label">Loans</div>
		</div>
		<div class="d-flex flex-row bd-highlight mb-3" routerLink="/transactions">
			<div class="p-2 bd-highlight"><img src="assets/svg/transactions.svg"></div>
			<div class="p-2 bd-highlight" id="label">Transactions</div>
		</div>
		<div class="d-flex flex-row bd-highlight mb-3" routerLink="/products">
			<div class="p-2 bd-highlight"><img src="assets/svg/products.svg"></div>
			<div class="p-2 bd-highlight" id="label">Products</div>
		</div>
		<div class="d-flex flex-row bd-highlight mb-3" routerLink="/reports">
			<div class="p-2 bd-highlight"><img src="assets/svg/reports.svg"></div>
			<div class="p-2 bd-highlight" id="label">Reports</div>
		</div>
	</div>
</div>

